h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4fbaef;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #93d4f4;
}

.header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

table input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.row {
    font-weight: bold;
}

.tambah {
    background-color: #43b547;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.hapus {
    background-color: #ea2719;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.edit {
    background-color: #ff8800;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.tambah:hover, .hapus:hover, .edit:hover {
    opacity: 0.5;
}
